body {
  background-color: rgb(207, 199, 181);
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.all-pokemon-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 30px;
}

.pokemon-card {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 2px solid rgb(180, 179, 177);
  margin-bottom: 25px;
  width: 300px;
  justify-content: center;
}
.imgPokemon {
  width: 150px;
}